<html xmlns="http://thymeleaf.org">
<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css"></link>
<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>
<script type="text/javascript">
	$(document).ready(
			function() {

				$.ajax({
					url : "http://localhost:8085/api/aircrafts",
					success : function(result) {
						createData(result);
					}
				});

				$(".sort").on("click", function() {
					$.ajax({
						url : "http://localhost:8085/api/sorted-aircrafts",
						success : function(result) {
							createData(result);
						}
					});
				});

				$(".search").on(
						"click",
						function() {
							var airfieldName = $('#searchField').val();
							$.ajax({
								url : "http://localhost:8085/api/aircraft/"
										+ airfieldName,
								success : function(result) {
									var tableData = "<tr><td>"
											+ result.aircraftname
											+ "</td><td>"
											+ result.airfield
											+ "</td><td>"
											+ result.icao_code
											+ "</td><td>"
											+ (new Date(result.openedDate)
													.toDateString())

											+ "</td><td>"
											+ result.runway_length
											+ "</td></tr>";
									$('table tbody').html(tableData);
								}
							});
						});

				$(".addAircraft").on("click", function() {
					var aircraft = $('#aircraft_name').val();
					var airfieldName = $('#airfieldName').val();
					var icaoCode = $('#ICAOCode').val();
					var openedDate = $('#dateOpened').val();
					var runwayLength = $('#runwayLength').val();
					$.ajax({
						method : "POST",
						url : "http://localhost:8085/api/aircraft",
						data : {
							aircraft_name : aircraft,
							airfield : airfieldName,
							ICAO_code : icaoCode,
							openedDate : openedDate,
							runway_length : runwayLength
						},
						success : function() {
							location.reload();
						}
					})
				});

			});
	function createData(result) {
		var tableData = "";

		result.forEach(function(key, index) {
			tableData += "<tr><td>" + key.aircraftname + "</td><td>"
					+ key.airfield + "</td><td>" + key.icao_code + "</td><td>"
					+ (new Date(key.openedDate).toDateString()) + "</td>"
					+ "<td>" + key.runway_length + "</td></tr>"
		});
		$('table tbody').html(tableData);
	}
</script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">PrivateFly Aircraft Services</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="header-bar">
			<button type="button" class="btn btn-info" data-toggle="modal"
				data-target="#myModal">Add Aircraft</button>
			<a class="btn btn-info sort">Sorted List</a>
			<div class="search-form">
				<input type="text" name="airfield" id="searchField"
					class="form-control form-control-search"
					placeholder="Search for..." /> <span
					class="input-group-btn pull right">
					<button class="btn btn-info search" type="submit">
						<span class="glyphicon glyphicon-search"></span>Search
					</button>
				</span>
			</div>
		</div>
		<div class="list-heading">Aircraft List</div>
		<div class="container">
			<table class="table">
				<thead>
					<tr class="table-heading">
						<th>Aircraft</th>
						<th>Airfield Name</th>
						<th>ICAO Code</th>
						<th>Date Opened</th>
						<th>Runway Length</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h4 class="modal-title">Add Aircraft</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-4 col-form-label" for="aircraft_name">
							Aircraft: </label> <input required="true" type="text"
							class="form-control" id="aircraft_name"
							placeholder="Enter Aircraft" name="aircraft_name" />
					</div>
					<div class="form-group">
						<label class="col-4 col-form-label" for="airfieldName">
							Airfield Name: </label> <input required="true" type="text"
							class="form-control" id="airfieldName" placeholder="Enter name"
							name="airfield" />
					</div>
					<div class="form-group">
						<label class="col-4 col-form-label" for="ICAOCode">
							ICAOCode: </label> <input required="true" type="text"
							class="form-control" id="ICAOCode" placeholder="Enter ICAOCode"
							name="ICAO_code" />
					</div>
					<div class="form-group">
						<label class="col-4 col-form-label" for="dateOpened">
							Date Opened </label> <input required="true" class="form-control"
							type="date" value="2011-08-19" id="dateOpened" name="openedDate" />
					</div>
					<div class="form-group">
						<label class="col-4 col-form-label" for="runwayLength">
							Runway Length: </label> <input required="true" type="text"
							class="form-control" id="runwayLength"
							placeholder="Enter runwayLength" name="runway_length" />
					</div>
					<button type="button" class="btn btn-info addAircraft">Submit</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">
						Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>